.web-title{
    background-image: url("images/bg.jpg");
}
.web-title .web-background{
    text-align: center;
    height: 100%;
}
main{
    font-family: "Poppins";
}
.web-background .main-button{
    margin-top: 30px;
    color: black;
    background-color: cornflowerblue;
    height: 60px;
    width: 250px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 150px;
}
.web-title .web-background h1{
    color: 	#BDB76B;
    font-size: 70px;
    font-family: 'Agency FB';
    padding: 20px;
}
.web-title .web-background h3{
    color: white;
    font-size: 30px;
    font-family: 'Centaur';
}
.web-title .web-background h3:nth-child(1){
    padding-top: 140px;
    font-family: "Impact";
}
.aboutcls,.career-a{
    width: 100%;
    background-color:	whitesmoke;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-bottom: 90px;
}
.aboutcls{
    padding-top: 90px;
}
.scope p{
    margin-top: 100px;
    font-size: 25px;
    color: black;
    left: 50%;
    background-color: 	#F4A460;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 30px;
}
.career-a p{
    margin-top: 120px;
    font-size: 22px;
    color: black;
    left: 50%;
    background-color: 	#4682B4;
    margin-right: 150px;
    margin-left: 150px;
    color: white;
}
.colleges p{
    margin-top: 80px;
    font-size: 22px;
    color: black;
    left: 50%;
    background-color: #3CB371;
    margin-right: 50px;
    margin-left: 50px;
    color: white;
}
.career-v p{
    margin-top: 100px;
    font-size: 17px;
    color: black;
    left: 50%;
    margin-right: 60px;
    margin-left: 40px;
    color: 	#E0FFFF;
}
.aboutbox,.articlebox{
    height: 350px;
    width: 40%;
    background-color: #F0E68C;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: black;
}
.articlebox{
    border-radius: 600px;
}
.articlebox input{
    border: none;
    width: 200px;
    height: 40px;
    color: black;
    font-size: 15px;
}
.career-v{
    width: 100%;
    background-color:white;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-bottom: 90px;
}
.careerbox{
    height: 250px;
    width: 15%;
    background-color:#00BFFF;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: black;
}
.colleges{
    width: 100%;
    background-color:white;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-bottom: 90px;
}
.collegebox{
    height: 200px;
    width: 17%;
    background-color:#A9A9A9;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: black;
}
.scope{
    width: 100%;
    background-color:whitesmoke;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-bottom: 90px;
}
.scopebox{
    height: 250px;
    width: 20%;
    background-color:#EE82EE	;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: black;
}
.career-a{
    background-color: 	whitesmoke;
}
.articlebox{
    background-color: #3CB371;
}
.aptitude{
    text-align: center;
    color: black;
    font-size: 25px;
    height: 200px;
    background-color: coral;
}
#s1{
    background-image: url("images/science.jpg");

}
#s2{
    background-image: url("images/commerce.jpg");

}
#s3{
    background-image: url("images/arts.jpg");

}
#v1{
    background-image: url("images/v1.jpg");
    opacity: 1.0;

}
#v2{
    background-image: url("images/v3.jpg");

}
#v3{
    background-image: url("images/v2.jpg");

}
#v4{
    background-image: url("images/v4.jpg");

}
a{
    text-decoration: none;
}
#arti1{
    background-image: url("images/arti1.jpg");

}
#arti2{
    background-image: url("images/arti2.jpg");

}
#c1{
    background-image: url("images/c1.jpg");
    opacity: 1.0;

}
#c2{
    background-image: url("images/c3.jpg");

}
#c3{
    background-image: url("images/c2.jpg");

}
#c4{
    background-image: url("images/c4.jpg");

}
#c5{
    background-image: url("images/c5.jpg");

}
.heading{
    width: 100%;
    text-align: center;
    padding: 40px;
}
.heading h1{
    color: #800000;
    font-family: 'Impact';
    font-weight: bold;
    font-size: 40px;
}
@media screen and (max-width:900px){
    .aboutbox{
        width: 90%;
    }
    .careerbox{
        width: 40%;
    }
    .articlebox{
        width: 90%;
    }
    .collegebox{
        width: 40%;
    }
    .scopebox{
        width: 40%;
    }
    .sp{
        width: 90%;
    }
    .cd{
        width: 90%;
    }

}
@media screen and (max-width:600px){
    .careerbox{
        width: 90%;
    }
    
}

